In [2]:
import pandas as pd
import datetime as dt

In [3]:
movies = pd.read_csv(r"C:\Users\Khemra\Stats\Week 3 Python and Pandas\moviedata.csv", sep='\t')

In [4]:
movies.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross
0,03/09/12,John Carter,NaN,300000000,66439100,254439100
1,05/25/07,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425,960996492
2,12/13/13,The Hobbit: There and Back Again,New Line,270000000,Unknown,Unknown
3,12/14/12,The Hobbit: An Unexpected Journey,New Line,270000000,Unknown,Unknown
4,11/24/10,Tangled,Buena Vista,260000000,200821936,586581936

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3627 entries, 0 to 3626
Data columns (total 6 columns):
Release_Date       3627 non-null object
Movie              3627 non-null object
Distributor        2968 non-null object
Budget             3627 non-null int64
US Gross           3627 non-null object
Worldwide Gross    3627 non-null object
dtypes: int64(1), object(5)
memory usage: 170.1+ KB

In [6]:
# Date conversion to date object and adding century.
def make_date(date_str):
    m, d, y = date_str.split('/')
    m = int(m)
    d = int(d)
    y = int(y)
    if y > 13:
        y += 1900
    else:
        y += 2000
    return dt.datetime(y, m, d)

In [7]:
# Search for missing or Unknown values to replace with na_values
movies["US Gross"].unique()
movies["Worldwide Gross"].unique()

array(['254439100', '960996492', 'Unknown', ..., '71644', '240495',
       'Unkno'], dtype=object)

In [8]:
movies = movies = pd.read_csv(r"C:\Users\Khemra\Stats\Week 3 Python and Pandas\moviedata.csv", sep='\t',
                             na_values=["Unknown", "Unkno"], parse_dates=[0], date_parser=make_date)

In [9]:
#movies.head()
#movies.Release_Date.max()
#movies.Release_Date.min()
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3627 entries, 0 to 3626
Data columns (total 6 columns):
Release_Date       3627 non-null datetime64[ns]
Movie              3626 non-null object
Distributor        2968 non-null object
Budget             3627 non-null int64
US Gross           3541 non-null float64
Worldwide Gross    2350 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 170.1+ KB

In [10]:

movies.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross
0,2012-03-09,John Carter,NaN,300000000,66439100.0,254439100.0
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425.0,960996492.0
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,NaN,NaN
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,NaN,NaN
4,2010-11-24,Tangled,Buena Vista,260000000,200821936.0,586581936.0

In [11]:
movies.fillna(0, inplace=True)

In [12]:
movies["Worldwide Gross"][movies["Worldwide Gross"]==0] = movies["US Gross"]

C:\Users\Khemra\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
movies.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross
0,2012-03-09,John Carter,0,300000000,66439100.0,254439100.0
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425.0,960996492.0
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,0.0,0.0
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,0.0,0.0
4,2010-11-24,Tangled,Buena Vista,260000000,200821936.0,586581936.0

In [14]:
# Make a profit column(worldwide gross - budget = profit)
movies["Profit"] = movies["Worldwide Gross"] - movies["Budget"]

In [15]:
movies.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross,Profit
0,2012-03-09,John Carter,0,300000000,66439100.0,254439100.0,-45560900.0
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425.0,960996492.0,660996492.0
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,0.0,0.0,-270000000.0
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,0.0,0.0,-270000000.0
4,2010-11-24,Tangled,Buena Vista,260000000,200821936.0,586581936.0,326581936.0

In [16]:
movies.Profit.describe()

count    3.627000e+03
mean     5.414562e+07
std      1.302474e+08
min     -2.700000e+08
25%     -2.891174e+06
50%      9.423500e+06
75%      6.090619e+07
max      2.546919e+09
Name: Profit, dtype: float64

In [17]:
# Search for the number of unique values in each column 

for column in movies.columns:
    print(column, len(movies[column].unique()))

Release_Date 1715
Movie 3599
Distributor 209
Budget 406
US Gross 3473
Worldwide Gross 3484
Profit 3567

# a. What is the median profit of movies with budgets of over $50M?

In [18]:
bigger_budget = movies[movies.Budget > 50000000]
bigger_budget.Profit.median()

89246220.0

In [19]:
# a. What is the median profit of movies with budgets of over $50M?
movies[movies["Budget"]>50000000]["Profit"].median()

89246220.0

# B How many movies were released by each film distributor? Output the results to a csv file.

In [20]:
# Apply, split and combine. 
movies.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross,Profit
0,2012-03-09,John Carter,0,300000000,66439100.0,254439100.0,-45560900.0
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425.0,960996492.0,660996492.0
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,0.0,0.0,-270000000.0
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,0.0,0.0,-270000000.0
4,2010-11-24,Tangled,Buena Vista,260000000,200821936.0,586581936.0,326581936.0

In [21]:
# Create Number_Released column

by_distributor = movies.groupby("Distributor")

In [29]:
#print(by_distributor.groups.keys())

In [23]:
by_distributor.groups["New World"]

Int64Index([3029, 3316, 3324, 3368, 3451], dtype='int64')

In [24]:
# Need to create a column for Distributor and the Count

In [25]:
# Get number released by the distributor. 
counts = by_distributor.aggregate(len)
counts.head()

,Release_Date,Movie,Budget,US Gross,Worldwide Gross,Profit
Distributor,,,,,,
0,659,659,659,659.0,659.0,659.0
20th Century Fox,230,230,230,230.0,230.0,230.0
3D Entertainment,1,1,1,1.0,1.0,1.0
8 X Entertainment,1,1,1,1.0,1.0,1.0
ART,1,1,1,1.0,1.0,1.0

In [26]:
counts = by_distributor.Movie.aggregate(len)
counts

Distributor
0                                  659
20th Century Fox                   230
3D Entertainment                     1
8 X Entertainment                    1
ART                                  1
Access                               1
Alliance                             4
American International Pictures      1
Anchor Bay                           4
Apparition                           4
Artisan                             23
Artistic License                     1
Atlantic                             1
Attitude Films                       1
Avatar                               1
Avco Embassy                         5
Barking Cow                          1
Big Pictures                         1
Bigger Picture                       1
Black Diamond Pictures               1
Buena Vista                        227
CBS Films                            3
CFP                                  1
CHRIST                               1
Cannon                               4
Cinema Service                       1
Cinema con Sabor                     1
Cloud Ten Pictures                   1
Columbia                            26
Consolidated Pictures Group          1
                                  ...
Third Rail                           2
TriStar Pictures                     4
Trimark                              9
Triumph                              1
Truly Indie                          1
USA Films                           15
United Artists                      23
United Film Distribution             2
Universal                          261
Universal/Arenas Entertainment       1
Universal/Rogue                      1
Videos                               1
Vitagraph Films                      2
Walt Disney Co.                      9
Walt Disney Pictures                 1
Warner Bros.                       311
Warner Independent                   3
Warner Independent Pictures          7
Weinstein                            1
Weinstein Ci.                        1
Weinstein Co.                       33
Weinstein/Dimension                  1
Weintraub                            2
WellSpring                           2
Wellspring                           1
WinStar                              1
Winstar                              1
Yash Raj                             1
Zeitgeist                            7
Zion                                 1
Name: Movie, Length: 209, dtype: int64

In [27]:
#by_distributor["Movies_Released"] = counts
by_distributor.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross,Profit
0,2012-03-09,John Carter,0,300000000,66439100.0,2.544391e+08,-4.556090e+07
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425.0,9.609965e+08,6.609965e+08
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,0.0,0.000000e+00,-2.700000e+08
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,0.0,0.000000e+00,-2.700000e+08
4,2010-11-24,Tangled,Buena Vista,260000000,200821936.0,5.865819e+08,3.265819e+08
5,2007-05-04,Spider-Man 3,Sony,258000000,336530303.0,8.908753e+08,6.328753e+08
6,2009-07-15,Harry Potter and the Half-Blood Prince,Warner Bros.,250000000,301959197.0,9.344165e+08,6.844165e+08
7,2011-05-20,Pirates of the Caribbean: On Stranger Tides,Buena Vista,250000000,241063875.0,1.043664e+09,7.936639e+08
8,2012-07-20,The Dark Knight Rises,0,250000000,0.0,0.000000e+00,-2.500000e+08
9,2009-12-18,Avatar,20th Century Fox,237000000,760507625.0,2.783919e+09,2.546919e+09
10,2006-06-28,Superman Returns,Warner Bros.,232000000,200120000.0,3.908740e+08,1.588740e+08
11,2008-11-14,Quantum of Solace,Sony Pictures,230000000,169368427.0,5.916921e+08,3.616921e+08
12,2008-05-16,The Chronicles of Narnia: Prince Caspian,Buena Vista,225000000,141621490.0,4.194903e+08,1.944903e+08
13,2006-07-07,Pirates of the Caribbean: Dead Man's Chest,Buena Vista,225000000,423315812.0,1.060616e+09,8.356158e+08
15,2012-05-25,Men in Black 3,0,215000000,0.0,0.000000e+00,-2.150000e+08
16,2009-06-24,Transformers: Revenge of the Fallen,Paramount Pictures,210000000,402111870.0,8.365197e+08,6.265197e+08
17,2006-05-26,X-Men: The Last Stand,20th Century Fox,210000000,234362462.0,4.593596e+08,2.493596e+08
18,2010-05-14,Robin Hood,Universal,210000000,105487148.0,3.224590e+08,1.124590e+08
19,2005-12-14,King Kong,Universal,207000000,218080025.0,5.505174e+08,3.435174e+08
20,2007-12-07,His Dark Materials: The Golden Compass,New Line,205000000,70107728.0,3.722349e+08,1.672349e+08
23,1997-12-19,Titanic,20th Century Fox,200000000,600788188.0,1.842880e+09,1.642880e+09
25,2009-11-13,2012,Sony,200000000,166112167.0,7.668122e+08,5.668122e+08
26,2009-05-21,Terminator Salvation: The Future Begins,Warner Bros.,200000000,125322469.0,3.716285e+08,1.716285e+08
27,2010-03-05,Alice in Wonderland,Walt Disney Co.,200000000,334191110.0,1.024391e+09,8.243911e+08
28,2004-06-30,Spider-Man 2,Columbia,200000000,373524485.0,7.837050e+08,5.837050e+08
30,2011-06-17,Green Lantern,Warner Bros.,200000000,116601172.0,2.220012e+08,2.200117e+07
31,2011-06-29,Transformers: Dark of the Moon,Paramount Pictures,195000000,352390543.0,1.123746e+09,9.287456e+08
33,2008-05-02,Iron Man,0,186000000,318604126.0,5.824431e+08,3.964431e+08
34,2008-07-18,The Dark Knight,Warner Bros.,185000000,533345358.0,1.001945e+09,8.169454e+08
35,2008-05-22,Indiana Jones and the Kingdom of the Crystal S...,Paramount Pictures,185000000,317023851.0,7.865581e+08,6.015581e+08
...,...,...,...,...,...,...,...
3535,2001-03-16,American Desi,Eros,250000,902835.0,1.366235e+06,1.116235e+06
3537,2000-07-14,Chuck&Buck,ART,250000,1055671.0,1.157672e+06,9.076720e+05
3542,2004-09-10,Malevolence,Painted Zebra Releasing,200000,126021.0,3.454900e+05,1.454900e+05
3543,2007-10-19,The Man From Earth,Anchor Bay,200000,0.0,0.000000e+00,-2.000000e+05
3546,1980-03-21,Mad Max,Filmways,200000,8750000.0,9.975000e+07,9.955000e+07
3549,2004-10-22,Short Cut to Nirvana: Kumbh Mela,Shotwell Media,200000,381225.0,4.396510e+05,2.396510e+05
3555,2002-05-10,The Business of Fancy Dancing,Outrider Pictures,200000,174682.0,1.746820e+05,-2.531800e+04
3556,2000-02-11,Trois,RAIN,200000,1161843.0,1.161843e+06,9.618430e+05
3561,1986-08-08,She's Gotta Have It,Island,175000,7137502.0,7.137502e+06,6.962502e+06
3563,2002-03-01,The Calling,Testimony Pictures,160000,32092.0,3.209200e+04,-1.279080e+05
3565,2000-06-23,Woman Chaser,INWOO,150000,110719.0,1.107190e+05,-3.928100e+04
3575,2003-10-03,The Work and the Story,Off-Hollywood Distribution,103000,16137.0,1.613700e+04,-8.686300e+04
3576,2004-02-06,The Lost Skeleton of Cadavra,TriStar Pictures,100000,110536.0,1.105360e+05,1.053600e+04
3577,1980-05-10,Penitentiary,Jerry Gross Organization,100000,287000.0,2.870000e+05,1.870000e+05
3581,2001-11-09,Keeping it Real: The Adventures of Greg Walloch,Avatar,100000,1358.0,1.358000e+03,-9.864200e+04
3588,2004-05-07,Super Size Me,IDP/Sam Goldwyn,65000,11529368.0,2.952937e+07,2.946437e+07
3591,2001-03-16,Gabriela,Power Point,50000,2335352.0,2.335352e+06,2.285352e+06
3594,2010-03-12,The Exploding Girl,Oscilloscope,40000,25572.0,2.557200e+04,-1.442800e+04
3595,2000-08-25,Smiling Fish and Goat on Fire,IDP/Stratosphere,40000,277233.0,2.772330e+05,2.372330e+05
3602,2000-01-14,The Terrorist,Phaedra,25000,195043.0,1.950430e+05,1.700430e+05
3603,2003-06-13,Manito,Film Movement,25000,0.0,0.000000e+00,-2.500000e+04
3604,1972-06-30,Deep Throat,Damiano,25000,45000000.0,4.500000e+07,4.497500e+07
3606,1991-08-01,Slacker,Orion Classics,23000,1227508.0,1.227508e+06,1.204508e+06
3613,1996-04-01,Bang,JeTi Films,10000,527.0,5.270000e+02,-9.473000e+03
3614,2008-08-14,The Rise and Fall of Miss Thang,Lavender House,10000,401.0,4.010000e+02,-9.599000e+03
3615,2006-04-28,Clean,Palm Pictures,10000,138711.0,1.387110e+05,1.287110e+05
3616,2004-05-28,On the Down Low,Cinema con Sabor,10000,1987.0,1.987000e+03,-8.013000e+03
3618,2001-03-09,Dayereh,Winstar,10000,673780.0,6.737800e+05,6.637800e+05
3622,2006-05-26,Cavite,Truly Indie,7000,70071.0,7.164400e+04,6.464400e+04
3623,2004-01-01,The Mongol King,CustomFlix,7000,900.0,9.000000e+02,-6.100000e+03

In [28]:
by_distributor.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross,Profit
0,2012-03-09,John Carter,0,300000000,66439100.0,2.544391e+08,-4.556090e+07
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425.0,9.609965e+08,6.609965e+08
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,0.0,0.000000e+00,-2.700000e+08
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,0.0,0.000000e+00,-2.700000e+08
4,2010-11-24,Tangled,Buena Vista,260000000,200821936.0,5.865819e+08,3.265819e+08
5,2007-05-04,Spider-Man 3,Sony,258000000,336530303.0,8.908753e+08,6.328753e+08
6,2009-07-15,Harry Potter and the Half-Blood Prince,Warner Bros.,250000000,301959197.0,9.344165e+08,6.844165e+08
7,2011-05-20,Pirates of the Caribbean: On Stranger Tides,Buena Vista,250000000,241063875.0,1.043664e+09,7.936639e+08
8,2012-07-20,The Dark Knight Rises,0,250000000,0.0,0.000000e+00,-2.500000e+08
9,2009-12-18,Avatar,20th Century Fox,237000000,760507625.0,2.783919e+09,2.546919e+09
10,2006-06-28,Superman Returns,Warner Bros.,232000000,200120000.0,3.908740e+08,1.588740e+08
11,2008-11-14,Quantum of Solace,Sony Pictures,230000000,169368427.0,5.916921e+08,3.616921e+08
12,2008-05-16,The Chronicles of Narnia: Prince Caspian,Buena Vista,225000000,141621490.0,4.194903e+08,1.944903e+08
13,2006-07-07,Pirates of the Caribbean: Dead Man's Chest,Buena Vista,225000000,423315812.0,1.060616e+09,8.356158e+08
15,2012-05-25,Men in Black 3,0,215000000,0.0,0.000000e+00,-2.150000e+08
16,2009-06-24,Transformers: Revenge of the Fallen,Paramount Pictures,210000000,402111870.0,8.365197e+08,6.265197e+08
17,2006-05-26,X-Men: The Last Stand,20th Century Fox,210000000,234362462.0,4.593596e+08,2.493596e+08
18,2010-05-14,Robin Hood,Universal,210000000,105487148.0,3.224590e+08,1.124590e+08
19,2005-12-14,King Kong,Universal,207000000,218080025.0,5.505174e+08,3.435174e+08
20,2007-12-07,His Dark Materials: The Golden Compass,New Line,205000000,70107728.0,3.722349e+08,1.672349e+08
23,1997-12-19,Titanic,20th Century Fox,200000000,600788188.0,1.842880e+09,1.642880e+09
25,2009-11-13,2012,Sony,200000000,166112167.0,7.668122e+08,5.668122e+08
26,2009-05-21,Terminator Salvation: The Future Begins,Warner Bros.,200000000,125322469.0,3.716285e+08,1.716285e+08
27,2010-03-05,Alice in Wonderland,Walt Disney Co.,200000000,334191110.0,1.024391e+09,8.243911e+08
28,2004-06-30,Spider-Man 2,Columbia,200000000,373524485.0,7.837050e+08,5.837050e+08
30,2011-06-17,Green Lantern,Warner Bros.,200000000,116601172.0,2.220012e+08,2.200117e+07
31,2011-06-29,Transformers: Dark of the Moon,Paramount Pictures,195000000,352390543.0,1.123746e+09,9.287456e+08
33,2008-05-02,Iron Man,0,186000000,318604126.0,5.824431e+08,3.964431e+08
34,2008-07-18,The Dark Knight,Warner Bros.,185000000,533345358.0,1.001945e+09,8.169454e+08
35,2008-05-22,Indiana Jones and the Kingdom of the Crystal S...,Paramount Pictures,185000000,317023851.0,7.865581e+08,6.015581e+08
...,...,...,...,...,...,...,...
3535,2001-03-16,American Desi,Eros,250000,902835.0,1.366235e+06,1.116235e+06
3537,2000-07-14,Chuck&Buck,ART,250000,1055671.0,1.157672e+06,9.076720e+05
3542,2004-09-10,Malevolence,Painted Zebra Releasing,200000,126021.0,3.454900e+05,1.454900e+05
3543,2007-10-19,The Man From Earth,Anchor Bay,200000,0.0,0.000000e+00,-2.000000e+05
3546,1980-03-21,Mad Max,Filmways,200000,8750000.0,9.975000e+07,9.955000e+07
3549,2004-10-22,Short Cut to Nirvana: Kumbh Mela,Shotwell Media,200000,381225.0,4.396510e+05,2.396510e+05
3555,2002-05-10,The Business of Fancy Dancing,Outrider Pictures,200000,174682.0,1.746820e+05,-2.531800e+04
3556,2000-02-11,Trois,RAIN,200000,1161843.0,1.161843e+06,9.618430e+05
3561,1986-08-08,She's Gotta Have It,Island,175000,7137502.0,7.137502e+06,6.962502e+06
3563,2002-03-01,The Calling,Testimony Pictures,160000,32092.0,3.209200e+04,-1.279080e+05
3565,2000-06-23,Woman Chaser,INWOO,150000,110719.0,1.107190e+05,-3.928100e+04
3575,2003-10-03,The Work and the Story,Off-Hollywood Distribution,103000,16137.0,1.613700e+04,-8.686300e+04
3576,2004-02-06,The Lost Skeleton of Cadavra,TriStar Pictures,100000,110536.0,1.105360e+05,1.053600e+04
3577,1980-05-10,Penitentiary,Jerry Gross Organization,100000,287000.0,2.870000e+05,1.870000e+05
3581,2001-11-09,Keeping it Real: The Adventures of Greg Walloch,Avatar,100000,1358.0,1.358000e+03,-9.864200e+04
3588,2004-05-07,Super Size Me,IDP/Sam Goldwyn,65000,11529368.0,2.952937e+07,2.946437e+07
3591,2001-03-16,Gabriela,Power Point,50000,2335352.0,2.335352e+06,2.285352e+06
3594,2010-03-12,The Exploding Girl,Oscilloscope,40000,25572.0,2.557200e+04,-1.442800e+04
3595,2000-08-25,Smiling Fish and Goat on Fire,IDP/Stratosphere,40000,277233.0,2.772330e+05,2.372330e+05
3602,2000-01-14,The Terrorist,Phaedra,25000,195043.0,1.950430e+05,1.700430e+05
3603,2003-06-13,Manito,Film Movement,25000,0.0,0.000000e+00,-2.500000e+04
3604,1972-06-30,Deep Throat,Damiano,25000,45000000.0,4.500000e+07,4.497500e+07
3606,1991-08-01,Slacker,Orion Classics,23000,1227508.0,1.227508e+06,1.204508e+06
3613,1996-04-01,Bang,JeTi Films,10000,527.0,5.270000e+02,-9.473000e+03
3614,2008-08-14,The Rise and Fall of Miss Thang,Lavender House,10000,401.0,4.010000e+02,-9.599000e+03
3615,2006-04-28,Clean,Palm Pictures,10000,138711.0,1.387110e+05,1.287110e+05
3616,2004-05-28,On the Down Low,Cinema con Sabor,10000,1987.0,1.987000e+03,-8.013000e+03
3618,2001-03-09,Dayereh,Winstar,10000,673780.0,6.737800e+05,6.637800e+05
3622,2006-05-26,Cavite,Truly Indie,7000,70071.0,7.164400e+04,6.464400e+04
3623,2004-01-01,The Mongol King,CustomFlix,7000,900.0,9.000000e+02,-6.100000e+03

In [91]:
counts.head()

Distributor
20th Century Fox     230
3D Entertainment       1
8 X Entertainment      1
ART                    1
Access                 1
Name: Movie, dtype: int64

In [94]:
s = pd.Series(counts)

In [30]:
#s

In [125]:
# Corrected answer. 
# Count the number of rows associated with each distributor. Use the aggregate
# and len function. 
distributors = movies.groupby("Distributor").aggregate(len)
distributor_count = distributors["Movie"]

In [126]:
distributor_count

Distributor
0                                  659
20th Century Fox                   230
3D Entertainment                     1
8 X Entertainment                    1
ART                                  1
Access                               1
Alliance                             4
American International Pictures      1
Anchor Bay                           4
Apparition                           4
Artisan                             23
Artistic License                     1
Atlantic                             1
Attitude Films                       1
Avatar                               1
Avco Embassy                         5
Barking Cow                          1
Big Pictures                         1
Bigger Picture                       1
Black Diamond Pictures               1
Buena Vista                        227
CBS Films                            3
CFP                                  1
CHRIST                               1
Cannon                               4
Cinema Service                       1
Cinema con Sabor                     1
Cloud Ten Pictures                   1
Columbia                            26
Consolidated Pictures Group          1
                                  ...
Third Rail                           2
TriStar Pictures                     4
Trimark                              9
Triumph                              1
Truly Indie                          1
USA Films                           15
United Artists                      23
United Film Distribution             2
Universal                          261
Universal/Arenas Entertainment       1
Universal/Rogue                      1
Videos                               1
Vitagraph Films                      2
Walt Disney Co.                      9
Walt Disney Pictures                 1
Warner Bros.                       311
Warner Independent                   3
Warner Independent Pictures          7
Weinstein                            1
Weinstein Ci.                        1
Weinstein Co.                       33
Weinstein/Dimension                  1
Weintraub                            2
WellSpring                           2
Wellspring                           1
WinStar                              1
Winstar                              1
Yash Raj                             1
Zeitgeist                            7
Zion                                 1
Name: Movie, Length: 209, dtype: int64

In [127]:
distributors.head()

,Release_Date,Movie,Budget,US Gross,Worldwide Gross,Profit
Distributor,,,,,,
0,659,659,659,659.0,659.0,659.0
20th Century Fox,230,230,230,230.0,230.0,230.0
3D Entertainment,1,1,1,1.0,1.0,1.0
8 X Entertainment,1,1,1,1.0,1.0,1.0
ART,1,1,1,1.0,1.0,1.0

# b. How many movies were released by each film distributor? Output the results to a csv file.

In [1]:
distributor_count.to_csv("Distributor Counts.csv")

NameError: name 'distributor_count' is not defined

### Points: 1/7
### Comment: Your answer to part 1 of Q1 is absolutely correct. You did not calculate mean and median values of movie profits by decade. Please refer to the model answers for the same.